@import '../../hidpi';

// Basic styling
body     { font-family: sans-serif; padding: .5em 1em; }
pre      { font-family: Monaco, monospace; overflow-x: auto; color: #666; }
h1       { font-size: 2.75em; }
header p { font-size: 1.5em; }


// Examples

.example {
  margin-bottom: 2em;
  border: 4px solid #ccc;
}

[id^=logo] { // Set default background image
  height: image-height('logo.png');
  width:  image-width('logo.png');
}

// Set a content block and manually pass declarations
// for high density displays

#logo-manual {
  background: url('../images/logo.png') no-repeat;

  @include hidpi {
    background-image: url('../images/logo_x2.png');
    -webkit-background-size: 250px 188px;
    -moz-background-size: 250px 188px;
    -o-background-size: 250px 188px;
    background-size: 250px 188px;
  }
}

#logo-manual-debug {
  background: url('../images/logo.png') no-repeat;

  $hidpi-debug: true;
  @include hidpi {
    background-image: url('../images/logo_x2.png');
    -webkit-background-size: 250px 188px;
    -moz-background-size: 250px 188px;
    -o-background-size: 250px 188px;
    background-size: 250px 188px;
  }
  $hidpi-debug: false; // Set debug back to false
}

// Let Compass do its magic by passing only
// the name of the original image

#logo-auto {
  @include hidpi(logo);
}

#logo-auto-debug {
  $hidpi-debug: true;
  @include hidpi(logo);
}

// Different file types (non-PNG)

[id^=example-jpg] { // Set default background image
  height: image-height('old-logo.jpg');
  width:  image-width('old-logo.jpg');
}

#example-jpg-extension {
  $hidpi-debug: false;
  @include hidpi(old-logo, jpg);
}

#example-jpg-extension-debug {
  $hidpi-debug: true;
  @include hidpi(old-logo, jpg);
}
